* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#color-palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.botaos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#button-random-color {
  display: inline;
  cursor: pointer;
  position: relative;
  padding: 5px;
  border-radius: 10px;
  margin: 0 5px;
}

#clear-board {
  display: inline;
  cursor: pointer;
  position: relative;
  padding: 5px;
  border-radius: 10px;
}

#board-size {
  width: 50px;
  margin-top: 5px;
}

#div-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pixel-board {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
}

.pixel {
  border: black solid 1px;
  height: 40px;
  width: 40px;
  background-color: white;
}
